@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Administración de Requerimientos</h1>
    <p class="lead">Bienvenido al sistema. Para continuar inicie sesión o regístrese, y seguidamente haga click en la pestaña del módulo correspondiente.</p>
</div>
