@model IEnumerable<ProyectoDeInge.Models.AspNetRoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información de permisos</h2>

@if (TempData["Exito"] != null)
{
   <!-- <p>TempData["Exito"]</p>-->
    <Script>alert('Permisos actualizados exitosamente')</Script>
}
else if (TempData["Error"] != null)
{
    <Script>alert('Error - No actualizaron los permisos asignados')</Script>
    <!--<p>Error - Cambio en permisos no fue exitoso.</p>-->
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERMISOS)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ListBox("Id", new SelectList(item.PERMISOS, "ID", "NOMBRE"))
        </td>
    </tr>
}
</table>