<!DOCTYPE html>

<html>
<head>
    <title>Bienvenido al sistema</title>
</head>
<body>
    <p style="font-size:18px;">
        Hola @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Usted es un nuevo usuario en el Sistema de Administración de Requerimientos.
        su Usuario para ingresar es este correo y su contraseña es: 'Pass.123'.
        Por favor cambiarla después de su primer ingreso.
    </p>
    <p style="font-size:18px;"><i>Admin</i></p>
</body>
</html>
